:host {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top:80px;
}

@media only screen and (min-width: 768px) {
    .form-container {
        max-width: 50%;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

mat-form-field {
    width: 100%;
    margin-bottom: 24px;
}

mat-form-field:last-of-type {
    margin-bottom: 32px;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

button {
    min-width: 100px;
    margin-left: 8px;
    margin-right: 8px;
}

button:first-of-type {
    margin-left: 0;
}

button:last-of-type {
    margin-right: 0;
}

textarea#postTextArea{
        height:350px;
}

.spacer {
    flex: 1;
  }

  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }