<div class="toolbar d-flex w-100" role="banner" style="z-index:999">
  <span class="flex-grow-1 text-center">New Post for Tech Stream</span>
</div>
<img width="55"  style="position:fixed; top:0; left:0; z-index:1000; margin-left:10px;"alt="TechStream Logo" src="assets/images/river-svgrepo-com.svg" alt="My Image" [routerLink]="['']">
<form #myForm="ngForm" class="form-container" style="z-index:998">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput name="title" [(ngModel)]="formData.ts_title">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea id="postTextArea" matInput name="post" [(ngModel)]="formData.ts_text"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select name="category" [(ngModel)]="formData.ts_category">
      <mat-option value="" disabled>Select category</mat-option>
      <mat-option value="Java">Java</mat-option>
      <mat-option value="Database">Database</mat-option>
      <mat-option value="Data Structures and Algorithms">Data Structures and Algorithms</mat-option>
      <mat-option value="Frontend-html-css-js">Frontend-html-css-js</mat-option>
      <mat-option value="Frontend-angular">Frontend-angular</mat-option>
      <mat-option value="System Design">System Design</mat-option>
      <mat-option value="Cloud">Cloud</mat-option>
      <mat-option value="General Computer Science">General Computer Science</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="button-group">
    <button mat-raised-button color="primary" type="submit" (click)="createPost()">Submit</button>
    <button mat-raised-button color="warn" type="button" (click)="myForm.reset()">Reset</button>
  </div>
</form>